[submodule "cover-generator"]
	path = covergan_frontend
	url = https://github.com/dendyGrobovshik/cover-generator/
[submodule "CoverGAN"]
	path = covergan_backend/covergan
	url = https://github.com/IzhanVarsky/CoverGAN
